.font{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight:lighter;
}
.header-div{

  background-color:#448AFF ;
  padding: 30px;
  font-family:"Helvetica";
  color: white;
  font-size: 25px;
 

}
.div-color {
  background-color:#aa66cc ;
  color: white;
  
  font-weight:lighter;
}
.head-color th {
  font-weight: lighter;
}
.p-color{
  background-color: #4CAF50 !important;
  border-color:#4CAF50;
}
.e-color{
  background-color: #FF3D00 !important;
  border-color:#FF3D00;
}
.b-color{
  background:"cyan-skin" !important;
  width: 15%;
}
.bb-color{
  background-color: violet;
}

.narrow{
  
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:-10px;
  margin-left: 15px;
  margin-right: 70px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.wrapper{
  margin: 15px;
  font-weight: lighter;
  font-size: 12px;
}
.narrow-table{
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top:-10px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.wider{
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}
.ss{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
#button-id{
  display: none;
}
@media  screen and (max-width: 1490px) {
    .hideSidebar {
      display: none !important;
    

    }
    .ss{
        position: absolute;
      }
      #button-id{
        display: block;
        float: right;
        border: none;
        border-radius: 50%;
       
      }
    
}
